

.trending{
    background-image: url("https://images.hdqwalls.com/download/geometry-shape-abstract-8k-k5-1280x800.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

